Importing Libraries

In [1]:
import pandas as pd
import numpy as np

In [19]:
data=pd.read_csv("churn_modelling.csv")

In [20]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [22]:
data.shape

(10000, 14)

In [23]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [24]:
data.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [25]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

#Checking any missing values

In [29]:
data.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [31]:
#statistics

In [32]:
data.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [33]:
#Eliminating irrelevant features

In [27]:
data=data.drop(['RowNumber', 'CustomerId', 'Surname'],axis=1)

In [34]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

data

#Encoding categorical data

In [35]:
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [39]:
data=pd.get_dummies(data,drop_first=True)

In [40]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False

In [41]:
#Checking distributing of target variable

In [44]:
data['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [45]:
x=data.drop(['Exited'],axis=1)
y=data['Exited']

In [48]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,False,False,False

In [47]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [68]:
#to handle imbalanced dataset with SMOTE

In [69]:
from imblearn.over_sampling import SMOTE

In [70]:
x_result,y_result=SMOTE().fit_resample(x,y)

In [72]:
y_result.value_counts()

Exited
1    7963
0    7963
Name: count, dtype: int64

splitting the dataset into Training set and Test dset

In [49]:
from sklearn.model_selection import train_test_split

In [74]:
x_train,x_test,y_train,y_test=train_test_split(x_result,y_result,test_size=0.20,random_state=42)

In [75]:
x_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
13555,646,45,6,112949.665584,1,1,1,78742.750760,True,False,True
1665,749,42,1,129776.720000,2,0,1,143538.510000,False,False,True
14878,716,48,3,157100.585717,1,0,0,82231.390336,False,True,True
7471,658,55,8,119327.930000,1,0,1,119439.660000,True,False,False
2582,656,46,5,113402.140000,2,1,1,138849.060000,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
13418,643,54,3,0.000000,1,0,0,176719.416353,False,True,True
5390,735,38,1,0.000000,3,0,0,92220.120000,False,False,False
860,667,43,8,190227.460000,1,1,0,97508.040000,False,False,True
15795,708,39,7,101879.978420,1,0,0,177838.531650,True,False,True
7270,697,51,1,147910.300000,1,1,1,53581.140000,True,False,True

feature scaling

In [76]:
from sklearn.preprocessing import StandardScaler

In [77]:
sc=StandardScaler()

In [78]:
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

Logistic Regression

In [79]:
from sklearn.linear_model import LogisticRegression

In [57]:
log=LogisticRegression()

In [80]:
log.fit(x_train,y_train)

LogisticRegression()

In [81]:
y_pred1=log.predict(x_test)

In [82]:
from sklearn.metrics import accuracy_score

In [83]:
accuracy_score(y_test,y_pred1)

0.7718141870684243

In [84]:
from sklearn.metrics import precision_score,recall_score,f1_score

In [85]:
precision_score(y_test,y_pred1)

0.7565217391304347

In [86]:
recall_score(y_test,y_pred1)

0.7842884739214424

In [87]:
f1_score(y_test,y_pred1)

0.7701549162187797

SVC

In [88]:
from sklearn import svm

In [89]:
svm=svm.SVC()

In [90]:
svm.fit(x_train,y_train)

SVC()

In [91]:
y_pred2=svm.predict(x_test)

In [92]:
accuracy_score(y_test,y_pred2)

0.8389830508474576

precision_score(y_test,y_pred2)

Random Forest Classifier

In [94]:
from sklearn.ensemble import RandomForestClassifier

In [95]:
rf=RandomForestClassifier()

In [96]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [97]:
y_pred3=rf.predict(x_test)

In [98]:
accuracy_score(y_test,y_pred3)

0.8640929064657878

In [99]:
precision_score(y_test,y_pred3)

0.8674540682414699

Final Model

In [113]:
final_data=pd.DataFrame({'Models':['LR','SVC','RF'],'ACC':[accuracy_score(y_test,y_pred1),accuracy_score(y_test,y_pred2),accuracy_score(y_test,y_pred3)]})

In [114]:
final_data

  Models       ACC
0     LR  0.771814
1    SVC  0.838983
2     RF  0.864093

In [115]:
x_result=sc.fit_transform(x_result)

In [116]:
rf.fit(x_result,y_result)

RandomForestClassifier()

In [117]:
import joblib

In [118]:
joblib.dump(rf,'churn_predict_model')

['churn_predict_model']

In [121]:
model=joblib.load('churn_predict_model')

In [124]:
model.predict([[619,42,2,0.0,0,0,0,101348.88,0,0,0]])

array([1], dtype=int64)